[Desktop Entry]
Name=FV Password Manager
Comment=Simple encrypted password manager
Exec=fv-passman
Icon=dialog-password
Terminal=false
Type=Application
Categories=Utility;Security;
StartupWMClass=fv-passman
